#
# CODE_Sherpa Requirements
#
# Python Version: 3.7 or higher required
#
# External dependency:
# - requests: used by enrich/enrich.py to call the Groq API when GROQ_API_KEY is set
#
# Install:
#   pip install -r requirements.txt
#
requests


